@import "../utilities/var";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-style;
}

html {
    font-size: 62.5%;
}

body {
    background: url('https://images.unsplash.com/photo-1631477076110-2b8c1fe0f3cc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80')
        no-repeat center center fixed;
    background-size: cover;
    line-height: 1.6;
    padding: 3.5rem;
    height: 100vh;
}

.toDoConts {
    display: grid;
    grid-template-columns: 240px 1fr;
    overflow: hidden;
    height: 100%;
}

// Input Styles

input {
    font-size: 1vw;
    width: $mainWidth;
    outline: none;
    border: none;
    background: transparent;
    color: $whiteFont;
    border-bottom: 1px solid $whiteFont;
    transition: 0.5s ease-in-out;
}

input:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(143, 142, 170, 0.924);
}

// Button Styles

button {
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    color: $whiteFont;
}

// Sidebar Styles

.sidebar {
    height: 100%;
    background: linear-gradient(0deg, #0D0F11, #2C3133 80%) no-repeat;
    color: $whiteFont;
}

.sbHeader {
    font-size: 1vw;
    color: $whiteFont;
}

.catBtn {
    font-weight: 300;
    font-size: 1vw;
    margin-left: -1.75vw;
}

.catBtn:hover {
    color: #d6d6d6;
}

.sidebar-form .form-control {
    margin: 10px 0;
}

.sidebar-form button {
    width: 100%;
}

.sidebar-list {
    margin-top: 3vh;
    padding: 1.6rem;
}

.sidebar-item {
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin-top: 1vh;
    cursor: pointer;
    font-size: 1.75rem;
}

.sidebar-item.active {
    font-weight: 500;
}

.sidebar-item:first-child {
    margin-top: 0;
}

.sidebar-color {
    border: none;
    width: 25px;
    margin-left: auto;
    cursor: pointer;
}

// Header Styles

.header {
    padding: 1.6rem;
    position: sticky;
    top: 0;
}

.header-title {
    font-weight: 400;
    margin: 10px 0;
}

.mHeader {
    background: linear-gradient(95deg,  #1E2223, #171715 80%) no-repeat;
    transform: translateX(10px);
}

.currently-viewing {
    font-size: 2rem;
    color: $whiteFont;
    font-weight: 400;
    margin-right: -20vw;
}

.currently-viewing::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 400;
    content: '\f06e               ';
    color: rgb(6, 196, 6);
}

.currently-viewing > span {
    font-weight: 700;
    color: #e01c1c;
    cursor: pointer;
}

option {
    color: #000;
}

select {
    cursor: pointer;
    color: $whiteFont;
}

/* Main */

.main {
    overflow-y: scroll;
}

.main::-webkit-scrollbar {
    display: none;
}

.main .header {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

/* Create and Edit Form */

.create-todo-form input, .edit-todo-form input,
.create-todo-form select, .edit-todo-form select {
    border: 0;
    width: 100%;
    padding: 3px 0;
    font-size: 16px;
    background-color: transparent;
}

.create-todo-form .addBtn {
    outline: auto;
    outline-style: round;
    border: none;
    border-radius: 15px;
    margin-right: 50%;
    font-size: 0.75vw;
    font-weight: 400;
    background: $whiteFont;
    padding: 1rem 1rem;
    color: #000;
    transition: 0.1s linear ease-in;
}

.create-todo-form .addBtn:hover {
    transform: scale(1.05);
    color: #6d6c6c;
}

.create-todo-form input:focus, .edit-todo-form input:focus,
.create-todo-form select:focus, .edit-todo-form select:focus {
    outline: none;
}

.create-todo-form, .edit-todo-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex: 0.8;
}

.create-todo-form input {
    outline: none;
    border: none;
    background: transparent;
    width: 140%;
    color: $whiteFont;
    border-bottom: 1px solid $whiteFont;
    transition: 0.5s ease-in-out;
}

.edit-todo-form input {
    margin-top: 1vh;
    outline: none;
    border: none;
    width: 150%;
    transform: translateX(-18vw);
    background: transparent;
    color: $whiteFont;
    border-bottom: 1px solid $whiteFont;
    transition: 0.5s ease-in-out;
}

.editBtn {
    transform: translateX(-33vw);
    outline: auto;
    outline-style: round;
    border: none;
    border-radius: 15px;
    font-size: 0.75vw;
    font-weight: 500;
    background: $whiteFont;
    padding: 1rem 2rem;
    color: #000;
    transition: 0.1s linear ease-in;
}

.editBtn:hover {
    font-size: 0.80vw;
    color: #6d6c6c;
}

.create-todo-form input:focus, .edit-todo-form input:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(143, 142, 170, 0.924);
}

.edit-todo-form {
    display: none;
}

/* Cards */

.todos-container {
    display: grid;
    grid-template-columns: repeat(4,1fr); 
    grid-auto-rows: max-content;
    gap: 20px;
    padding: 1.6rem;
}

.todo {
    background-color: #fff;
    border-top: 6px solid;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.todo-tag {
    font-size: 1.6rem;
    padding: .5rem 2.5rem;
    border-radius: 5px;
    margin-bottom: 8px;
}

.todo-description {
    font-size: 1.6rem;
    margin: 1rem 0 2rem 0;
    word-break: break-all;
}

.todo-actions {
    margin-top: auto;
}

.todo-actions i {
    font-size: 1.6rem;
    margin-right: 1.6rem;
    opacity: 1;
    cursor: pointer;
    transition: 0.2s linear;
}

.fa-edit:hover {
    color: rgb(112, 55, 1);
    transform: translateY(-10px);
}

.fa-trash-alt:hover {
    color: rgb(88, 0, 0);
    transform: translateY(-10px);
}

.toHomeConts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: sticky;
    top: 100%;
    transform: translateY(1vh);
    .heading {
        font-weight: 500;
        font-size: 1.5vw;
        color: $whiteFont;
        transform: translateX(-8.5vw);
        cursor: pointer;
    }
    .heading:hover {
        color: #bfbfbf;
        text-decoration: underline;
    }
}
