@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --whiteBG: #fff;
    --blackBG: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: url('https://images.pexels.com/photos/967016/pexels-photo-967016.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main {
    display: grid;
    place-content: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 40vmin;
}

.container {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container .input-name {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container .input-name label {
    color: var(--whiteBG);
    font-size: 9vmin;
    font-weight: 700;
}
    .input-name #getName {
        font-size: 5vmin;
    }

.container .input-name input {
    position: relative;
    padding-top: 0vmin;
    font-size: 8vmin;
    color: var(--whiteBG);
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    border-bottom: 2px solid var(--whiteBG);
    transition: 0.5s ease-in-out;
}

.container .input-name input:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(63, 59, 117, 0.52);
}

    .input-name #mainGoal {
        display: none;
    }

.container .input-name span {
    color: var(--whiteBG);
    font-size: 3vw;
    font-weight: 900;
    display: none;
    background: transparent;
    width: 40%;
    height: 100%;
    margin: 0 auto;
    outline: auto;
    outline-style: round;
    outline-color: transparent;
    border-radius: 30px;
    text-align: center;
    transition: 0.2s;
}

.finished {
    display: none;
}

.container .input-name span:hover {
    cursor: pointer;
    color: rgb(23, 226, 114);
    width: 30%;
}

.container .input-name span:hover + .finished{
    display: flex;
    flex-direction: row-reverse;
    margin-top: -3%;
    padding-right: 22.5%;
    color: var(--whiteBG);
    font-size: 2.75vmin;
}

.changeName {
    display: none;
    margin-top: 0vmin;
    margin-left: -2vmin;
}

.btnGoal {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}

.btnGoal button {
    outline: none;
    outline-style: none;
    background: transparent;
    color: var(--whiteBG);
    border: none;
    font-size: 2vw;
    display: none;
}

.btnGoal button:hover {
    color: #d6d5d5;
}

.btnConts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 5vmin;
    margin-left: 5vmin;
}

button {
    cursor: pointer;
    font-size: 2vmin;
    outline: auto;
    outline-style: round;
    border-radius: 5vmin;
    padding: 1rem 2rem;
    margin: 1vmin;
    background: var(--whiteBG);
    color: var(--blackBG);
    font-weight: 700;
    opacity: 2;
    transition: 0.2s;
}

button:hover {
    color: rgb(42, 42, 42);
    transform: scale(1.05 , 1.05);
}

.quoteConts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.quoteConts input {
    background: transparent;
    border: none;
    width: 100%;
    font-size: 4vmin;
    color: var(--whiteBG);
    border-bottom: 2px solid var(--whiteBG);
    display: none;
}

.quoteConts input:focus {
    outline: none;
}

.quoteConts span {
    cursor: pointer;
    font-size: 3vmin;
    font-style: italic;
    color: var(--whiteBG);
    transition: 0.2s ease-in-out;
    display: none;
}

.quoteConts span:hover {
    transform: scale(1.05, 1.05);
}

.quoteConts .getQuote {
    position: relative;
    display: none;
    font-style: italic;
}

.quoteConts span::before {
    content: '"';
}

.quoteConts span::after {
    content: '"';
}

/* Phone Queries */

                    @media screen and (min-width: 320px) and (max-width: 500px) {
                        main {
                            padding-top: 50vmin;
                        }
                        .container .input-name input {
                            padding-top: 10vmin;
                            width: 80%;
                            margin: 0 auto;
                        }
                        .btnConts {
                            padding-top: 20vmin;
                            margin-left: 0vmin;
                        }
                        button {
                            font-size: 3vmin;
                        }
                        .btnGoal button {
                            font-size: 4vw;
                        }
                        .container .input-name span {
                            font-size: 7vw;
                            padding-top: 5vw;
                            outline: none;
                        }
                        .quoteConts span {
                            margin-top: 5vmin;
                        }
                        .quoteConts .getQuote {
                            margin-top: 5vmin;
                        }
                    }