.todoConts {
    position: absolute;
    width: 20%;
    transform: translateX(70vw);
    text-align: center;
    background: #fff;
    outline: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 26vw;
    display: none;
}

.todoConts span {
    cursor: pointer;
    color: #000;
    font-style: normal;
    font-size: 2vw;
    font-weight: 600;
    display: none;
}

.todoConts span:hover {
    color: #313131;
}

.toDoCtr {
    display: none;
    margin-bottom: 2vw;
}

.toDoCtr button {
    background: transparent;
    border-radius: 0%;
    padding: 0rem 0.3rem;
}

.toDoCtr #hidetoDo {
    outline: none;
    border: none;
}

.p-styling {
    cursor: pointer;
    font-weight: 500;
    font-size: 1.1vw;
    text-align: left;
    margin-left: 11vmin;
}

.p-styling:hover {
    text-decoration: line-through;
}

.todoList {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: transparent;
    margin-left: 5vw;
    margin-top: -2vw;
}

.pText {
    font-weight: 700;
}

.clearTask {
    cursor: pointer;
    border: none;
    outline: none;
    display: none;
}

.clearTask i {
    position: absolute;
    margin-top: -1.3rem;
}

.clearTask i:hover {
    color: rgb(65, 1, 1);
}

.deleteTask {
    background: transparent;
    border: none;
    outline: none;
}